<div class="d-flex justify-content-center w-100 flex-column"
     x-data="taskData(project.id)" x-init="fetch(`/projects/${project.id}/tasks/`)
                     .then(res => res.json())
                     .then(data => {
                         tasks = data.sort((a, b) => a.priority - b.priority);
                         htmx.process($el);
                     })">

    <!-- Task creation form -->
    <form :hx-post="`/projects/${project.id}/tasks/`" hx-swap="none" hx-trigger="submit"
          @htmx:after-request="if (event.detail.xhr.status === 201) {
               tasks.push(JSON.parse(event.detail.xhr.response));
               htmx.process($el);
               $event.target.reset();
          }"
          class="d-flex flex-grow-1 flex-column flex-md-row gap-2 my-3 mx-0">
        <input type="text" name="name" class="form-control"
               placeholder="Введіть назву завдання" required
               pattern="^(?!\s*$).+"
               oninvalid="this.setCustomValidity('Введіть коректне ім\'я завдання');"
               oninput="this.setCustomValidity('');">
        <button type="submit" class="btn btn-success">Створити</button>
    </form>

    <!-- List of tasks -->
    <ul class="list-group list-group-flush">
        <template x-for="(task, index) in tasks" :key="task.id">
            <li class="list-group-item"
                x-data="{ editing: false, tempTaskName: task.name, originalTaskName: task.name, showButtons: false,
                isMobile: window.matchMedia('(max-width: 991px)').matches}"
                x-init="window.addEventListener('resize', () => isMobile = window.matchMedia('(max-width: 992px)').matches)"
                @mouseenter="showButtons = true"
                @mouseleave="showButtons = false"
                @click.away="
                    // When clicking outside, save changes if the name was modified
                    editing = false;
                    if (task.name.trim() !== tempTaskName.trim()) {
                        originalTaskName = task.name;
                        task.name = tempTaskName;
                        htmx.ajax('PATCH', `/projects/${project.id}/tasks/${task.id}/`, {
                            values: { name: tempTaskName },
                            swap: 'none' });}"
                x-init="
                    // Listen for HTMX responses to handle failed updates
                    document.addEventListener('htmx:afterRequest', (event) => {
                    if (event.detail.requestConfig.verb === 'patch' && event.detail.requestConfig.path === `/projects/${project.id}/tasks/${task.id}/`) {
                        if (event.detail.xhr.status !== 200) {
                            task.name = originalTaskName;
                            tempTaskName = originalTaskName;
                        }
                    }})">
                <div class="d-flex justify-content-between align-items-center" style="height: 38px">

                    <!-- "Done" checkbox -->
                    <input class="form-check-input me-3" type="checkbox"
                           x-init="htmx.process($el)"
                           :hx-patch="`/projects/${project.id}/tasks/${task.id}/`"
                           :hx-vals='JSON.stringify({"is_completed": task.is_completed})'
                           @click="task.is_completed = !task.is_completed"
                           :checked="task.is_completed">

                    <!-- Editable task name field -->
                    <template x-if="editing">
                        <input x-model="tempTaskName" type="text" class="form-control m-0">
                    </template>

                    <!-- Display task name when not editing -->
                    <template x-if="!editing">
                        <div class="d-flex flex-column overflow-hidden">
                            <h6 x-text="task.name" class="my-0 overflow-hidden text-truncate"
                                style="max-width: 100%; line-height: 1.2;"></h6>
                            <small x-text="task.deadline ? new Date(task.deadline).toLocaleString('uk-UA', {
                                           day: '2-digit',
                                           month: 'long',
                                           year: 'numeric',
                                           hour: '2-digit',
                                           minute: '2-digit'}) : ''"
                                   class="text-muted"
                                   style="font-size: 0.75rem;">
                            </small>
                        </div>
                    </template>

                    <div class="d-flex gap-2 ms-auto">

                        <!-- Position buttons -->
                        <div x-show="showButtons || isMobile" class="btn-group-vertical btn-group-sm"
                             style="height: 38px;">
                            <button type="button" class="btn btn-outline-light text-secondary py-0 border-0"
                                    @click="moveTask(index, -1)">
                                <i class="bi bi-chevron-up"></i>
                            </button>
                            <button type="button" class="btn btn-outline-light text-secondary py-0 border-0"
                                    @click="moveTask(index, 1)">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>

                        <!-- Deadline button -->
                        <div class="d-flex align-items-center"
                             x-init="$nextTick(() => {
                                     flatpickr($refs.dateTimeInput, {
                                         enableTime: true,
                                         dateFormat: 'Y-m-d H:i',
                                         time_24hr: true,
                                         defaultDate: task.deadline,
                                         onChange: function(selectedDates, dateStr) {
                                             task.deadline = dateStr;
                                             htmx.ajax('PATCH', `/projects/${project.id}/tasks/${task.id}/`, {
                                                 values: { deadline: dateStr },
                                                 swap: 'none'
                                             });
                                         }
                                     });
                                 });">
                            <button x-show="showButtons || isMobile" class="btn btn-link p-0 mx-1"
                                    @click="$refs.dateTimeInput._flatpickr.open()">
                                <i class="bi bi-calendar-date"></i>
                            </button>
                            <input type="text" x-ref="dateTimeInput" class="visually-hidden">
                        </div>

                        <!-- Edit button -->
                        <button x-show="showButtons || isMobile" class="btn btn-link p-0 mx-1" @click="editing = true;">
                            <i class="bi bi-pencil"></i>
                        </button>

                        <!-- Delete button -->
                        <button x-show="showButtons || isMobile" class="btn btn-link p-0 mx-1"
                                x-init="htmx.process($el)"
                                :hx-delete="`/projects/${project.id}/tasks/${task.id}/`"
                                @htmx:after-request="if (event.detail.successful) {
                                    tasks.splice(index, 1);
                                }">
                            <i class="bi bi-trash text-danger"></i>
                        </button>
                    </div>
                </div>
            </li>
        </template>
    </ul>
</div>